modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Telegram Bot"

[[workflows.workflow]]
name = "Start Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
APK_PATH = "attached_assets/PhonePe_1.0_1763790226328.apk"
CHANNEL_1 = "-1002347417128"
CHANNEL_2 = "-1002714529340"
CHANNEL_1_URL = "https://t.me/shelbyykachannelhaibsdk"
CHANNEL_2_URL = "https://t.me/papabolopapabeta"

[deployment]
deploymentTarget = "vm"
run = ["python"]
